# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
*.env

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo
BACKEND_SETUP.md
RLS_LIST.md
SUPABASE_RLS_MIGRATION.sql

#upload attachments
# uploads/attachments/*